<ejs-treegrid #treegrid
[dataSource]='data'
hasChildMapping="isParent"
[treeColumnIndex]="1"
idMapping="taskID"
parentIdMapping="parentItem"
[allowPaging]=true
allowSorting=true
loadChildOnDemand='true'
[filterSettings]='filterSettings'
[showColumnChooser]='true'
[toolbar]="toolbar"
[pageSettings]="pageSettings"
[columns]='treegridColumns'
[columnMenuItems]="headermenuItems"
[editSettings]='editSettings'
(contextMenuClick)='rowContextMenuClick($event)'
(contextMenuOpen)='rowContextMenuOpen($event)'
[contextMenuItems]="contextMenuRowItems"
>
</ejs-treegrid>
<!--

[allowExcelExport]='true' [allowPdfExport]='true'

(dataStateChange)= 'dataStateChange($event)'
[sortSettings]='sortSettings'
(actionComplete)="sort($event)"
showColumnMenu=true

-->

<div>
  <ejs-contextmenu #headercontextmenu target='.e-gridheader'
  (columnMenuOpen)='columnContextMenuOpen($event)'
  (select)="columnContextMenuOpen($event)"
  [items]='headermenuItems'></ejs-contextmenu>
</div>
<ejs-dialog #edit_dialog [buttons]='alertDlgButtons' [visible]='visible' headerContent='Dialog'>
  <app-dynamic-form></app-dynamic-form>
</ejs-dialog>
