<ejs-treegrid #treegrid
[dataSource]='tasks | async'
[treeColumnIndex]='1'
parentIdMapping='parentItem'
idMapping='taskID'
hasChildMapping='isParent'
(dataStateChange)= 'dataStateChange($event)'
[allowPaging]="true"
[showColumnChooser]='true'
[toolbar]="toolbar"
[pageSettings]="pageSettings"

allowSorting='false'
[contextMenuItems]="contextMenuRowItems"
[editSettings]='editSettings'
(contextMenuClick)='rowContextMenuClick($event)'
(contextMenuOpen)='rowContextMenuOpen($event)'
[columns]=treegridColumns>
>

<!-- height=900
[enableVirtualization]=true
class="tree-height"
childMapping='Crew' -->
</ejs-treegrid>

<div>
  <ejs-contextmenu #headercontextmenu target='.e-gridheader'
  (columnMenuOpen)='columnContextMenuOpen($event)'
  (select)="columnContextMenuOpen($event)"
  [items]='headermenuItems'></ejs-contextmenu>
</div>
<ejs-dialog #edit_dialog [buttons]='alertDlgButtons' [visible]='visible' content='Edit Column Dialog' width='200px' height='110px'>
</ejs-dialog>
